header {
    background-color: rgb(116, 42, 42);
}

header h1 {
    background-color: rgb(104, 89, 89);
    display:inline-block;
    color:white;
    padding: 5px
}

header nav {
    float: right;
    word-spacing: 5px;
    margin: 8px 50px 0px 0px;
    font-size: 25px;
}

header a:hover {
    color:  rgb(196, 190, 190)
}

a {
    color: white;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
}

.headerImage {
    background-image:url("./images/Pine\ tree.jpg");
    height:300px;
    width:100%;
}

.subtitle {
    color:white;
    font-weight:bold;
    font-size:50px;
    padding:5px;
    display:flex;
    justify-content:center;
    position:relative;
    background-color:rgb(104, 89, 89);
    border-top:2px solid black;
}

.aboutMe {
   text-align:center;
}

.title {
    font-size:30px;
    text-decoration: underline;
    text-align:center;
}

.WeddingPic {
    height: 200px;
    width: 175px;
}

footer nav {
    text-align:center; 
    word-spacing:15px;
    font-weight: bold;
    font-size:large;
}

footer ul {
    list-style-type: none;
}

footer li {
    display:inline;
}

footer a {
    color:black;
}

.FirstImage {
    background-image:url("./images/First\ Image.jpg");
    height:300px;
    width:600px;
    display:flex;
    flex-direction:column;
    margin-bottom:25px;
    border:5px solid black;
}

.BigOne {
    display:flex;
    justify-content: center;
}

.SubtitleImage {
    background-color: rgb(104, 89, 89);
    width:100px;
    font-size:20px;
    color:white;
}

.SubtitleImage2 {
    background-color: rgb(104, 89, 89);
    width:100px;
    color:white;
}

.LittleOne {
    display:flex;
    flex-direction: row;
}

.WorkImages1 {
    background-image:url("./images/led\ wall.jpg");
    height:200px;
    width:200px;
}

.WorkImages2 {
    background-image:url("./images/Calc.jpg");
    border:5px solid black;
}

.WorkImages3 {
    background-image:url("./images/Puzzle.jpg");
} 

.WorkImages4 {
    background-image:url("./images/run\ buddy.jpg");
}

@media screen and (max-width: 768px) {
    .LittleOne {
        display:flex;
        flex-direction: column;
    }
}





